<table class="table table-condensed table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>RPC Name</th>
        <th>Emulated</th>
    </tr>
    </thead>
    <tbody>
    {{#each events as |event|}}
        <tr class="event-row" data-cid="{{event.cid}}"> <!-- cid is internal backbone model client id -->
            <td>{{event.date}}</td>
            <td>{{event.time}}</td>
            <td>{{event.rpcName}}</td>
            <td class="table-emulation-status">
                {{#if event.isEmulated}}
                    <span class="glyphicon glyphicon-plus-sign" alt="This RPC is being emulated over MVDM"></span>
                {{else}}
                    <span class="glyphicon glyphicon-minus-sign" alt="This RPC is not being emulated."></span>
                {{/if}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>