<div class="mvdm-events">
    <div class="submenu">

        <span class="glyphicon glyphicon-filter" alt="Event type filter label."></span>
        {{filter-select eventFilter}}

        <a href="#" class="clear-events-list" title="Clear MVDM Events List">
            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
        </a>
        <span class="emulation-status">
            <h4 class="submenu-label">Emulation: </h4>
            {{#if management.isEmulation}}
                <span class="glyphicon glyphicon-ok-sign" alt="Emulation is on."></span>
            {{else}}
                <span class="glyphicon glyphicon-remove-sign" alt="Emulation is off."></span>
            {{/if}}
        </span>

    </div>

    <table id="mvdm-event-table" class="table table-condensed table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Domain</th>
            <th>Type</th>
            <th>User ID</th>
            <th>Facility ID</th>
        </tr>
        </thead>
        <tbody>
        {{#each mvdmEvents as |mvdmEvent|}}
            <tr>
                <td>{{mvdmEvent.date}}</td>
                <td>{{mvdmEvent.time}}</td>
                <td>{{mvdmEvent.domain}}</td>
                <td>{{mvdmEvent.type}}</td>
                <td>{{mvdmEvent.userId}}</td>
                <td>{{mvdmEvent.facilityId}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>