<div class="stats">
    <h3>RPC Stats</h3>
    <table class="table table-condensed">
        <thead>
        <th>Total</th>
        <th>Distinct</th>
        <th>Emulated</th>
        <th>Distinct Emulated</th>
        </thead>
        <tbody>
        <tr>
            <td>{{total}}</td>
            <td>{{distinct}}</td>
            <td>{{emulated}}</td>
            <td>{{distinctEmulated}}</td>
        </tr>
        </tbody>
    </table>
    <h3>Top 20</h3>
    <table class="table table-condensed table-striped table-bordered">
        <thead>
            <th>RPC</th>
            <th>Path</th>
            <th># of Calls</th>
        </thead>
        <tbody>
            {{#each topList}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{show-runner runner}}</td>
                    <td>{{count}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>